- if broadcast

  .broadcast
    .body
      %h3.title= broadcast.title
      .content
        - if Broadcasting.truncate_length > 0
          = truncate(broadcast.content, length: Broadcasting.truncate_length)
        - else
          = broadcast.content

    .controls
      .fl
        = link_to t(:hide_this_broadcast, default: 'hide this broadcast'), '#', 'data-id' => broadcast.id, class: 'hide_broadcast'

      .fr
        - if @broadcast_count.to_i > 0
          = link_to t(:view_all_broadcasts, count: @broadcast_count, default: "View (#{@broadcast_count}) new broadcasts"), '#', class: 'new_broadcasts'
